<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>NovelTEAM</title>
  </head>

	<body>
		<header>
			<a href="/welcome">NovelTEAM</a>
		</header>

		{{#author}}
			<h1>{{name}}'s Page</h1>
		{{/author}}
		<h3>Votes Reiceived:</h3>
		<h3>Novels Created:</h3>
		<h3>Novels Contributed To:</h3>
		<ul>
			<li>Novel Name</li>
			<ul>
				<li>Chapter Written</li>
			</ul>
		</ul>
			
		
		{{#novels}}
		<ul>
			<li>yada</li>
		</ul>
		{{/novels}}
	</body>
	<footer>
		<p>&copy 2015, NovelTEAM</p>
	</footer>

</html>