<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>NovelTEAM</title>
    <style>
    	li {
    		list-style-type: none;
    	}
    </style>
  </head>

	<body>
		<header>
			<a href="/welcome">NovelTEAM</a>
		</header>

		{{#novel}}
			<h1>{{name}}</h1>
			<ul>
				<li><b>Synopsis:</b> {{synopsis}}</li>
			</ul>
			<hr>
			<a href='/novels/{{novel_id}}/read'><p>Read Locked Chapters</p></a>
			{{read_locked}}
			
			{{#locked_in_chapters}}
			<ul>
				<li><a href="/novels/{{novel_id}}/{{chapter_number}}/{{author_id}}/read">Chapter {{chapter_number}}</a></li>
				{{#username}}
				<li>by <a href="/authors/{{author_id}}">{{.}}</li></a>
				{{/username}}
			</ul> 
			{{/locked_in_chapters}}
			
		<hr>
			<a href="/novels/{{novel_id}}/{{next_chapter_number}}/write">
				<button>Write Chapter {{next_chapter_number}}</button>
			</a>

		{{#currently_being_written}}
			<a href="/novels/{{novel_id}}/{{chapter_number}}/{{author_id}}/read"><p>Chapter {{chapter_number}} | {{title}}</p></a>
		{{/currently_being_written}}

		{{/novel}}
		<footer>
			<p>&copy 2015, NovelTEAM</p>
		</footer>
	</body>

</html>