<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title></title>
  </head>

	<body>
		<header>
			<a href="/welcome">NovelTEAM</a>
		</header>
		{{#book_title}}
			<a href="/novels/{{id}}"><h1>{{name}}</h1></a>
		{{/book_title}}

		{{#chapter}}

			<h1> {{chapter_number}} | {{title}}, by <a href="/authors/{{author_id}}">{{author}}</h1></a>
			<p>{{content}}</p>

			<form method="POST" action="/novels/{{novel_id}}/{{chapter_number}}/{{author_id}}/delete">
				<input name="_method" type="hidden" value="DELETE"/>
				<button>Delete Chapter</button>
			</form>
		{{/chapter}}

		<footer>
			<p>&copy 2015, NovelTEAM</p>
		</footer>
	</body>

</html>