<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title></title>
    <style>
    	ul {
    		list-style-type: none;
    	}
    </style>
  </head>

	<body>
		<header>
				<nav>
				<ul>
					<li><h1>Sitemap</h1></li>
					<a href="/"><li>Home</li></a>
					<a href="./login"><li>Login</li></a>
					<a href="./novels/create"><li>Create Novel</li></a>
					<!-- use sinatra placeholder for 'novel_id'-->
					<li>Dedicated Novel Page: Use path --> <b>'/novels/:novel_id'</b></li>
					<li>Read Specific Chapter: Use path --> <b>'novels/:novel_id/chapter_number/read</b></li>
					<!-- <li>Write Chapter Page: Use path  <b>'/novels/:novel_id/:chapter_id/write'</b></li> -->
				</ul>
			</nav>
		</header>
		<footer>
			<p>&copy 2014, Jarett Sims.</p>
		</footer>
	</body>

</html>