<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Write Chapter</title>
    <style>
    	#title {
    		min-width: 40%;
    		margin-bottom: 30px;
    	}
    	#chapter_body {
    		min-height: 300px;
    		min-width: 70%;
    		margin-bottom: 30px;
    	}
    </style>
  </head>

	<body>
		<header>
			<a href="/welcome">NovelTEAM</a>
		</header>
		<section align="center">
			<h1>Write Chapter {{chapter_number}} of {{name_of_novel}}</h1>
			<form method="POST" action="/novels/{{novel_id}}/{{chapter_number}}/write">
				<label for="title">Title:</label>
				<br>
				<input type="text" id="title" name="title">
				<br>
				<label for="chapter_body">Chapter Body:</label>
				<br>
				<textarea id="chapter_body" name="content"></textarea>
				<br>
				<button>Submit Chapter</button>
			</form>
		
			<footer>
				<p>&copy 2015, NovelTEAM</p>
			</footer>
		</section>
	</body>

</html>